body {
  min-height: 100vh;
}

.grid-center {
  display: grid;
  min-height: 100vh;
  place-items: center;
  background-color: white;
  padding: 24px 16px;
}

.text-center {
  text-align: center;
}

.error-code {
  font-size: 1rem;
  font-weight: 600;
  color: #4f46e5; /* Indigo-600 */
}

.page-title {
  margin-top: 16px;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  color: #111827; /* Gray-900 */
  line-height: 1.25;
}

.description {
  margin-top: 24px;
  font-size: 1.125rem;
  font-weight: 500;
  color: #6b7280; /* Gray-500 */
  line-height: 1.875;
}
